<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC_Web_App</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_Web_App.styles.css" asp-append-version="true" />
</head>

<body class="container">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <ul class="nav  nav-underline">
                    <li class="nav-item">
                        <a class="nav-link @(ViewData["Title"]?.ToString() == "Home Page" ? "active" : "")"
                            asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewData["Title"]?.ToString() == "Player List" ? "active" : "")"
                            asp-controller="PlayerList" asp-action="Index">Player List</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="blockquote-footer mt-5 text-center">
        Player data API model by <strong>Berkay Ozercan</strong>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
